/* Main Style */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:#f4f4f4;
    /*background-image: url('../images/Wallpaper.jpg');*/
}

/* Main content container */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #333;
    color: white;
    padding: 15px 0; 
    text-align: center;
    opacity: 0.9;
    background-image: url('../images/mhwi-banner.png');
    background-size: cover;
    background-position: center;
}

footer {
    background-image: url('../images/mhw-bg1.jpg');
    background-size: cover;
    background-position: center;
}

header .logo h1 {
    margin: 0;
}

.logo{
    margin: 20px;
}

@font-face {
    font-family: 'MonsterHunter';
    src: url('../fonts/monsterhunter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.GatheringHub{
    font-family: 'MonsterHunter', sans-serif;
    font-size: 70px;
}

header .nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header .nav a:hover {
    text-decoration: underline;    
}

/*List of Stories Section*/
.stories-container {
    display: flex;
    flex-wrap: nowrap; /* Don't wrap stories to the next line */
    overflow-x: scroll; /* Show horizontal scrollbar if necessary */
    overflow-y: hidden; /* Hide vertical scrollbar */
    margin: 3% auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 60%;
    max-width: 60%; /* Set a maximum width */
}

.stories-container-container {
    background-image: url('https://www.monsterhunter.com/wilds/_next/static/media/f_bg2.a75fd198.png');
    background-size: cover;
    background-position: center;
}

.section-line {
    background-image: url('https://www.monsterhunter.com/wilds/_next/static/media/c_line.68bd3880.png');
    height: 9px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

/*NOTE: THESE DONT WORK FOR ME ON FIREFOX, SOMEONE ELSE PLZ CUSTOMIZE THIS*/
.stories-container::-webkit-scrollbar {
    height: 10px; /* Make scrollbar bigger */
}

.stories-container::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Change scrollbar color */
    border-radius: 5px; /* Round scrollbar corners */
}
/*END NOTE*/

.story {
    flex-shrink: 0; /* Prevent stories from shrinking */
    width: 120px;
    height: 213px;
    margin: 15px;
    border-style: solid;
    border-color: #5e5e5e;
    border-width: 1px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer
}

.story .add-story{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1877f2;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

#addButton{
    width: 120px;
    height: 213px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: lightblue;
}

/*Main Blog Container*/
.blog-container {
    /*
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    */
    background:
    radial-gradient(#645631 3px, transparent 4px),
    radial-gradient(#645631 3px, transparent 4px),
    linear-gradient(#32392a 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #645631 75px, #645631 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #645631 76px, #645631 77px, transparent 78px, transparent 109px),
    #32392a;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/*Blog Post Styling*/
  .blog-post, .post-container {
    background-image: url('https://www.monsterhunter.com/wilds/_next/static/media/bg-content_2.f4ac7510.png');
    /*background-color: #f5f8fa;*/
    border: 1px solid #ccd6dd;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    word-wrap: break-word; /* Ensure long text wraps to a new line */
  }
  
  /*Blog Post Inner Styling*/
  /*
  .blog-post h3 {
    font-weight: bold;
    font-size: 24px; /* Make the story title bigger
    margin-top: 0;
  }
  */

  .blog-post p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .blog-post img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 1% auto;
    border-radius: 8px;
  }
  
  .blog-post small {
    font-size: 16px;
    color: #666;
  }

  .blog-post .post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog-post .post-header .username {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .blog-post .post-header .timestamp {
    font-size: 14px;
    color: #666;
  }

  .post-header {
    display: flex;
    align-items: center;
  }

  .post-header h5 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .avatar {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
  }

/*Blog Uploading Container*/
.post-content-container {
    background-color: #fff;
    border: 1px solid #ccd6dd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
#blog-post-input {
    width: 98%;
    height: 150px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    resize: none; /* Prevent resizing */
  }
  
#send-blog-post-button {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
#blog-post-username-input, #blog-post-title-input {
    width: 48%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
#blog-posts {
    margin-top: 20px;
  }

.blog-post-inputs {
    display: flex;
    justify-content: space-between;
    gap: 4%;
}

/*Create a story section*/
.upload-container{
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text horizontally */
}

.upload-container h2 {
    margin: 0 0 10px 0; /* Add some margin below the heading */
}

.upload-container button {
    padding: 10px 20px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-container button:hover {
    background-color:#1558b0;
}

/* Footer Styling */
.footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
}

.footer.hidden {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .upload-container {
        width: 80%; /* Adjust width for smaller screens */
    }
    .stories-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .upload-container {
        width: 40%; /* Adjust width for even smaller screens */
    }

    .stories-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}