/* Story viewer Main*/
.story-viewer {
    display: none; /* Hide by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Changed to row for new layout */
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    overflow-y: auto; /* Allow vertical scrolling */
}

.story-viewer.active {
    display: flex; /* Show when active */
}

.story-viewer-left {
    width: 50%;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto; /* Adjust height based on content */
    display:flex;
    flex-direction: column;
}
.slider-container{
    width:80%;
    height:100%;
    z-index:100;
    position:relative;
    display:flex;
    justify-content: flex-end;
}

.volume-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50px;
    margin-top: -10px;
    position: absolute;
    transform: rotate(0deg); /* Rotate the container */
}

.story img, .story video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-viewer-content {
    width: 45%;
    aspect-ratio: 9 / 16; /* Maintain 9:16 aspect ratio */
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure content does not overflow */
    border: white 1px solid;
    border-radius: 10px;
    margin-bottom: 20px; /* Add space below the story viewer content */
}

.story-viewer-content-main {
    width: 100%;
    aspect-ratio: 9 / 16; /* Maintain 9:16 aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.story-viewer img, .story-viewer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

.story-viewer-right-main{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story-viewer-right {
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-viewer-title {
    color: black;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}

.story-viewer-description {
    color: black;
    margin-bottom: 20px;
    font-size: 1rem;
    position: relative;
    padding: 0 20px;
}

.story-viewer-username {
    color: gray;
    margin-bottom: 20px;
    font-size: 0.9rem;
    position: relative;
    padding: 0 20px;
}

.separator {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Story indicators */
.story-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.story-indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.story-indicator.active {
    background-color: rgba(255, 255, 255, 1);
}

/* Close story display styling */
.button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 4em;
    height: 4em;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 1001; /* Ensure it is above other elements */
}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}

.button:hover {
    background-color: rgb(211, 21, 21);
}

.button:active {
    background-color: rgb(130, 0, 0);
}

.button:hover > .close {
    animation: close 0.2s forwards 0.25s;
}

@keyframes close {
    100% {
        opacity: 1;
    }
}

/* Progress bar styling */
.progress-bar {
    position: relative;
    width: 50%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #1877f2;
    width: 0%;
    transition: width linear;
}

/* Progress and indicators container */
.progress-indicators-container {
    margin-top: 20px; /* Add space above the container */
    margin-bottom: 20px; /* Adjust margin as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav buttons */
.nav-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.icon-next-prev {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-next-prev .tooltip {
    position: absolute;
    top: -70%;
    margin-left: 40px;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.prev-tooltip {
    right: 83%;
}

.icon-next-prev:hover .tooltip {
    opacity: 1;
}

.icon-next-prev svg {
    fill: #000;
    width: 24px;
    height: 24px;
}

.icon-next-prev.black svg {
    fill: #000;
}

.icon-next-prev:disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.2);
}

.icon-next-prev:disabled:hover .tooltip {
    opacity: 0; /* Hide tooltip when button is disabled */
}
/* Reaction buttons styling */
.reaction-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.reaction-button {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.reaction-button span {
    margin-left: 5px;
}

.reaction-button:hover {
    background-color: #f0f0f0;
}

/* Comment section styling */
.comment-section {
    margin-top: 20px;
}

.comment-username {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.comment-username input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-input {
    display: flex;
    margin-bottom: 10px;
}

.comment-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.comment-input button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.comment-input button:hover {
    background-color: #0056b3;
}

.comment-list {
    max-height: 300px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.comment:last-child {
    border-bottom: none;
}

/* Username styling */
.username {
    font-weight: bold;
    color: #9f1111;
}



.volume-slider {
    -webkit-appearance: none; /* Remove default styling for WebKit browsers */
    appearance: none; /* Remove default styling */
    width: 150px; /* Adjust width to match the height */
    height: 8px; /* Adjust height to match the width */
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 50%, #ccc 50%, #ccc 100%); /* Initial gradient */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: transparent; /* Background is set by the parent element */
    border-radius: 5px;
}

.volume-slider::-moz-range-track {
    width: 100%;
    height: 8px;
    background: transparent; /* Background is set by the parent element */
    border-radius: 5px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -3.5px; /* Adjust to center the thumb */
}

.volume-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -3.5px; /* Adjust to center the thumb */
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .story-viewer {
        flex-direction: column; /* Stack elements vertically */
    }

    .story-viewer-left{
        width: 100%;
        height: auto;
        margin-bottom: 35rem;
        top: 35rem;
    }

    .story-viewer-content {
        width: 40%;
        height: auto;
        top: 0px; /* Reset top position */
    }

    .story-viewer-right {
        border-left: none;
        border-top: 1px solid #ddd;
    }

    .prev-button-container,
    .next-button-container {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
        margin: 10px 0;
    }
    .nav-button{
        width:70%;
    }
}

@media (max-width: 768px) {
    .story-viewer {
        flex-direction: column; /* Stack elements vertically */
    }

    .story-viewer-left{
        width: 100%;
        height: auto;
        margin-bottom: 40rem;
        top: 40rem;
    }

    .story-viewer-content {
        width: 40%;
        height: auto;
        top: 0px; /* Reset top position */
    }

    .story-viewer-right {
        border-left: none;
        border-top: 1px solid #ddd;
    }

    .prev-button-container,
    .next-button-container {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
        margin: 10px 0;
    }

}

@media (max-width: 420px) {
    .story-viewer {
        flex-direction: column; /* Stack elements vertically */
    }

    .story-viewer-left{
        width: 100%;
        height: 100%;
        margin-bottom: 20rem;
        top: 20rem;
        display: flex;
        flex-direction: column;
    }

    .story-viewer-content {
        width: 70%;
        height: 100rem;
        top: 0px; /* Reset top position */
    }

    .story-viewer-right-main{
        width: 100%;
    }
    .story-viewer-right {
        border-left: none;
        border-top: 1px solid #ddd;
    }

    .prev-button-container,
    .next-button-container {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
        margin: 10px 0;
    }

    .nav-button{
        width: 110%;
    }

    .comment-username h3{
        margin-bottom: 10px;
    }

    .comment-username input{
        margin-bottom: 10px;
    }
}