/* Loading Modal */
#loadingModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top of other modals */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.loading-content {
    text-align: center;
    color: white;
}

.loader-image {
    width: 220px; /* Adjust the size as needed */
    height: 220px; /* Adjust the size as needed */
    animation: spin 2s linear infinite; /* Optional: Add spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}


/* Responsive Styles */
@media (max-width: 768px) {
    .modal-content {
        width: 80%; /* Adjust width for smaller screens */
    }

    .upload-left {
        margin-right: 0;
        min-width: 100%; /* Full width for smaller screens */
    }

    #previewContainer {
        max-width: 100%; /* Full width for smaller screens */
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 90%; /* Adjust width for even smaller screens */
    }

    .upload-left {
        margin-right: 0;
        min-width: 100%; /* Full width for smaller screens */
    }

    #previewContainer {
        max-width: 100%; /* Full width for smaller screens */
    }
}