/*Upload Modal Main*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #e4ddc9;
    background-image: url("../images/mhwi-paper.png");
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 100%; /* Automatically adjust height */
    max-height: calc(100vh - 20%); /* Ensure it doesn't exceed the viewport height */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

#editModal h2{
    font-family: 'Markazi', sans-serif;
    font-size: 3.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.modal-content h2{
    text-shadow: -1px 0px #e4ddc9, 0px 1px #e4ddc9, 1px 0px #e4ddc9, 0px -1px #e4ddc9;
}

.modal-content h3{
    text-shadow: -1px 0px #e4ddc9, 0px 1px #e4ddc9, 1px 0px #e4ddc9, 0px -1px #e4ddc9;
}

.audio-start-time label{
    text-shadow: -1px 0px #e4ddc9, 0px 1px #e4ddc9, 1px 0px #e4ddc9, 0px -1px #e4ddc9;
}

@font-face {
    font-family: 'Markazi';
    src: url('../fonts/MarkaziText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.rotateEditButtons{
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: auto;
}

/*Rotation Buttons*/
#rotateRightButton{
    width: 70px; /* Adjust width as needed */
    height: 70px;
    /*COLORS*/
    background-image: linear-gradient(to top, rgba(69, 160, 230, 0.5), rgba(69, 160, 230, 0));
    background-color: #000;
    border: 2px solid;
    border-image-source: linear-gradient(to bottom, #45a0e6, #45a0e6);
    border-image-slice: 1;
    color: #87ceeb;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-size: 100% 150%, contain;
    background-position: 0% 3%, center;
    background-clip: padding-box;
    transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#rotateRightButton:hover {
    box-shadow: 0 10px 10px rgba(69, 160, 230, 0.2);
    background-position: 0% 102%;
}

#rotateRightButton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

#rotateLeftButton{
    width: 70px; /* Adjust width as needed */
    height: 70px;
    /*COLORS*/
    background-image: linear-gradient(to top, rgba(69, 160, 230, 0.5), rgba(69, 160, 230, 0));
    background-color: #000;
    border: 2px solid;
    border-image-source: linear-gradient(to bottom, #45a0e6, #45a0e6);
    border-image-slice: 1;
    color: #87ceeb;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-size: 100% 150%, contain;
    background-position: 0% 3%, center;
    background-clip: padding-box;
    transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#rotateLeftButton:hover {
    box-shadow: 0 10px 10px rgba(69, 160, 230, 0.2);
    background-position: 0% 102%;
}

#rotateLeftButton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.post-button-container{
    display: flex;
    justify-content: center;
    width: 50%;
}
#postButton{
    font-family: 'Markazi', sans-serif;
    font-size: 1.5em;
    width: 30%;
    margin-top: 35px;
    /*COLORS*/
    background-color: #000;
    border: 2px solid;
    border-image-source: linear-gradient(to bottom, #ffd700, #ffd700);
    border-image-slice: 1;
    color: #aca06d;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(255, 215, 0, 0.5), rgba(255, 215, 0, 0));
    background-size: 100% 150%;
    background-position: 0% 3%;
    background-clip: padding-box;
    transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#postButton:hover{
    background-position: 0% 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.floating-button {
  position: fixed;
  top: 50%; /* Move the button to the middle of the screen */
  right: 20px; /* Keep the button 20px from the right edge */
  transform: translateY(50%); /* Move the button down by 50% of its own height */
  background-color: #e4ddc9;
  border: none;
  padding: 20px; /* Increase the padding to make the button bigger */
  border-radius: 50%;
  cursor: pointer;
  width: 60px; /* Set the width of the button */
  height: 60px; /* Set the height of the button */
}

.floating-button i {
  font-size: 36px; /* Increase the font size of the icon */
  color: #a7c957;
}

/* Post submission modal */
#postSubmissionModal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e4ddc9;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Adjust width as needed */
  height: auto; /* Automatically adjust height */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Container for the upload modal content */
.upload-modal-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    width: 50%;
}

.uploadMediaContainer h2{
    display: flex;
    font-family: 'Markazi', sans-serif;
    font-size: 2.0rem;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 0px;
}
.upload-modal-main-content{
    display:flex;
}

/* Styles for the left side of the upload modal */
.upload-left {
    flex: 1;
    margin-right: 20px;
    min-width: 300px; /* Minimum width for the left side */
}

/* Styles for the upload choose file section */
.upload-choose-file {
    background-color: #e4ddc9;
    display: flex;
    width: 80%;
    padding: 8px;
    margin-left: 30px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.upload-choose-file input[type="file"] {
    display: block;
}

/* Styles for the upload details section */
.upload-details h2{
    margin-bottom: 10px;
    font-family: 'Markazi', sans-serif;
    font-size: 2.0rem;
}

.upload-details input,
.upload-details textarea {
    background-color: #e4ddc9;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.upload-details textarea {
    height: 100px;
    resize: none;
}

.upload-audio h3{
    font-family: 'Markazi', sans-serif;
    font-size: 2.0rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Styles for the character counters */
#titleCounter,
#descriptionCounter, #userCounter {
    font-size: 0.9rem;
    color: #666;
    text-align: right;
    margin-bottom: 10px;
}

/* Preview container styles */
.previewContainer-main{
    max-width: 25rem; /* Maximum width for the preview container */
    height: 40rem;
    aspect-ratio: 9 / 16; /* Maintain 9:16 aspect ratio */
    position: relative;
    margin-left: 50px;
}

#editButton{
    font-family: 'Markazi', sans-serif;
    font-size: 1.5em;
    width: 40%;
    /*COLORS*/
    background-color: #000;
    border: 2px solid;
    border-image-source: linear-gradient(to bottom, #45a0e6, #45a0e6);
    border-image-slice: 1;
    color: #87ceeb;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(69, 160, 230, 0.5), rgba(69, 160, 230, 0));
    background-size: 100% 150%;
    background-position: 0% 3%;
    background-clip: padding-box;
    transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#editButton:hover{
    background-position: 0% 105%;
    box-shadow: 0 10px 10px rgba(69, 160, 230, 0.2);
}

.editButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#previewContainer {
    flex: 1;
    max-width: 300px; /* Maximum width for the preview container */
    aspect-ratio: 9 / 16; /* Maintain 9:16 aspect ratio */
    position: relative;
    overflow: hidden; /* Ensure content does not overflow */
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #808080;
    background-color: #ccc6b5;
    margin: 10px auto;
}

#previewContainer img,
#previewContainer video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Edit container styles */
#editContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ccc6b5;
    background-image: url("../images/mhwi-paper.png"); 
    max-width: 100%;
    max-height: 80%;
    margin: auto;
    margin-bottom: 20px;
}

#editContainer img {
    max-width: 100%;
    max-height: 600px;
    margin-bottom: 10px;
    background-color: #ccc6b5;
}


#editContainer video {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
}

/* Style the audio input */
.upload-audio {
    margin-top: 15px;
}

.upload-audio input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

#previewAudio audio{
    background-color: #e4ddc9;
}

.upload-audio label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

/* Audio Preview Container */

.audioboxes {
    width: 20%;
}

#audioPreviewContainer {
    flex: 1;
    max-width: 500px; /* Adjust width as needed */
    height: 55px;
    margin: 10px auto;
    padding: 10px;
    background-color: #e4ddc9;
    border-radius: 5px;
    text-align: center;
}

/* Style the audio element */
#audioPreviewContainer audio {
    width: 100%; /* Make the audio player take full width of the container */
    border-radius: 5px;
    background-color: #ccc6b5; /* Optional: style the audio bar */
}

.audio-start-time label{
    font-weight: bold;
    font-family: "Markazi", sans-serif;
    font-size: 1.5em;
}

.audio-start-time-input{
    display: flex;;
    gap: 10px;
}
.audio-start-time-input label{
    margin-top: 10px;
}
.audio-start-time input{
    width: 31%;
}

.start-end-container {
    display: flex;
    gap: 15px;
    margin: auto;
    width: 60%;

}

.apply-edit-button-container{
   display:flex;
   justify-content: center;
}
#applyEditButton{
    font-family: 'Markazi', sans-serif;
    font-size: 2.0em;
    width: 30%;
    margin-top: 20px;
    /*COLORS*/
    background-color: #000;
    border: 2px solid;
    border-image-source: linear-gradient(to bottom, #ffd700, #ffd700);
    border-image-slice: 1;
    color: #aca06d;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(255, 215, 0, 0.5), rgba(255, 215, 0, 0));
    background-size: 100% 150%;
    background-position: 0% 3%;
    background-clip: padding-box;
    transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#applyEditButton:hover{
    background-position: 0% 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
#startHours, #startMinutes, #startSeconds{
    width: 15%;
    background-color: #e4ddc9;
    border-color: #fff;
}
#endHours, #endMinutes, #endSeconds{
    width: 15%;
    background-color: #e4ddc9;
    border-color: #fff;
}

/* Loading Modal */
#loadingModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top of other modals */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.loading-content {
    text-align: center;
    color: white;
}

.loader-image {
    width: 220px; /* Adjust the size as needed */
    height: 220px; /* Adjust the size as needed */
    animation: spin 2s linear infinite; /* Optional: Add spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
/* Responsive Styles */
@media (max-width: 768px) {
    .modal-content {
        width: 80%; /* Adjust width for smaller screens */
    }

    .upload-left {
        margin-right: 0;
        min-width: 100%; /* Full width for smaller screens */
    }

    #previewContainer {
        max-width: 100%; /* Full width for smaller screens */
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 90%; /* Adjust width for even smaller screens */
    }

    .upload-left {
        margin-right: 0;
        min-width: 100%; /* Full width for smaller screens */
    }

    #previewContainer {
        max-width: 100%; /* Full width for smaller screens */
    }
}